.employeesAllListWrap {
  width: 50%;
  padding: 10px;
}

.employeesAllListTitle {
  margin-bottom: 30px;
  text-align: center;
}

.employeesAllList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.letterTitle {
  margin-left: 15px;
  text-transform: uppercase;
}

.employeesAllListItem {
  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;
}

.employeesGroupList {
  margin-bottom: 0;
}
